/* 모드 컬러 */
.lightMode{
    main{
        border-top-color: $light-color-black;
        color: $light-color-black;
        &.sub-page-main .main-btns{border-bottom-color: $light-color-black;}
    }
}

.darkMode{
    main{
        border-top-color: $dark-color-white;
        color: $light-color-white;
        &.sub-page-main .main-btns{border-bottom-color: $dark-color-white;}
    }
}

main{
    z-index: 1;
    width: $constent-pc-width;
    margin-top: $main-btns-pc-height;
    border-top: 1px solid;
    box-sizing: border-box;
}


@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 960px) {
    main{
        width: 100%;
        height: $constent-tablet-height;
        margin-top: $main-btns-mob-height;
        border-width: 0;
        padding-top: $header-tablet-height;
        &.sub-page-main{
            margin-top: 0;
            padding-top: 0;
            .main-btns{border-bottom: 1px solid;}
        }
    }
}

@media screen and (max-width: 720px) {
    
}
