/* 모드 컬러 */
.lightMode{
    nav{
        ul{
            li{
                a{
                    background: $light-color-white;
                    border-color: $light-color-black;
                    color: $light-color-black;
                    &.active{
                        border-color: $light-color-purple;
                        color: $light-color-purple;
                    }
                }
            }
        }
    }
}

.darkMode{
    nav{
        ul{
            li{
                a{
                    background: $dark-color-white;
                    border-color: $dark-color-black;
                    color: $dark-color-black;
                    &.active{
                        border-color: $dark-color-dark-orange;
                        color: $dark-color-dark-orange;
                    }
                }
            }
        }
    }
}

nav{
    width: calc(100% - $header-pc-width - .1rem);
    ul{
        padding: 2rem 0;
        li{
            padding: .5rem 0;
            position: relative;
            a{
                @include flex;
                align-items: center;
                @include fontTitle;
                width: 100%;
                padding: 1rem 3rem .6rem 1rem;
                font-size: 1.4em;
                line-height: 1.4;
                font-weight: 800;
                position: relative;
                right: 1px;
                z-index: 2;
                border-style: solid;
                border-width: 1px 2px 2px 1px;
                svg{
                    display: block;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: absolute;
                    top: calc(50% - 1.2rem);
                    right: .5rem;
                }
            }
            &:hover{
                a{
                    right: 0;
                    bottom: -1px;
                    border-width: 2px 1px 1px 2px;
                }
            }
            &.private a svg:first-of-type{
                position: static;
                margin-left: .4rem;
                flex-shrink: 0;
                margin-top: -.4rem;
            } 
        }
    }
}

@media screen and (max-width: 1200px) {
    nav ul li.private a svg:first-of-type{
        width: 1.8rem;
        height: 1.8rem;
        margin-top: -.2rem;
    }
}

@media screen and (max-width: 960px) {
    /* 모드 컬러 */
    .lightMode{
        nav{
            background: $light-color-light-orange;
            ul li a{background: transparent;}
        }
    }

    .darkMode{
        nav{
            background: $dark-color-light-green;
            ul{
                li{
                    a{
                        background: transparent;
                        &.active{
                            border-color: $dark-color-purple;
                            color: $dark-color-purple;
                        }
                    }
                }
            }
        }
    }

    nav{
        width: 100%;
        position: absolute;
        bottom: auto;
        top: 100%;
        left: 0;
        padding: 0 2rem;
        z-index: 0;
        transform: translateY(-100%);
        transition: transform $ani-fast;
        ul{
            @include flex;
            flex-wrap: wrap;
            gap: 16px;
            padding: 1.6rem 0;
            li{
                flex: 40% 1 1;
                padding: 0;
                &:first-of-type{flex: 100% 1 1;}
                a{
                    border-width: 0 0 2px 0;
                    padding: 0 0 .5rem 0;
                    svg{
                        width: 1.5rem;
                        height: 1.5rem;
                        top: calc(50% - 1rem);
                    }
                }
                &:hover{
                    a{
                        right: 1px;
                        bottom: 0;
                        border-width: 0 0 2px 0;
                    }
                }
            }
        }
        &.open{
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: 720px) {
    
}