/* 모드 컬러 */
.lightMode{
    .sub-page-main .main-btns{background-color: $light-color-white;} 
    .note_content{
        .btn-save{
            @include btnType1($light-color-black, $light-color-blue);
            color: $light-color-white;
        }
        .btn_newpost{
            @include btnType1($light-color-black, $light-color-blue);
            color: $light-color-white;
        }
        .btn-list{
            @include btnType1($light-color-black, $light-color-blue);
            color: $light-color-white;
        }
        .btn-modify{
            @include btnType1($light-color-black, $light-color-dark-orange);
            color: $light-color-white;
        }
        .btn-delete{
            @include btnType1($light-color-black, $light-color-red);
            color: $light-color-white;
        }

        //목록페이지 컬러
        .list_content ul li{background: $light-color-light-gray;}
        //상세페이지 컬러
        .detail_paging_area{border-color: $light-color-light-gray;}
        .tag_area li{background: $light-color-light-gray;}
    }
    
    .GB_content{
        .txt{background-color: $light-color-light-gray;}
        .textarea{border-color: $light-color-gray}
        .btn-submit{
            @include btnType1($light-color-black, $light-color-blue);
            color: $light-color-white;
        }
        .btn-cancel{
            @include btnType1($light-color-black, $light-color-gray);
            color: $light-color-white;
        }
        .btn-delete{
            @include btnType1($light-color-black, $light-color-red);
            color: $light-color-white;
        }
        .btn-modify{
            @include btnType1($light-color-black, $light-color-dark-orange);
            color: $light-color-white;
        }
    }

    @media screen and (max-width: 1200px) {}
    @media screen and (max-width: 960px) {
        .note_content{
            .list_content ul li{
                background: transparent;
                border-bottom: 1px solid $light-color-light-gray;
            }
        }
    }
}

.darkMode{
    .sub-page-main .main-btns{background-color: $dark-color-black;} 
    .note_content{
        .btn-save{
            @include btnType1($dark-color-white, $dark-color-dark-orange);
            color: $dark-color-black;
        }
        .btn_newpost{
            @include btnType1($dark-color-white, $dark-color-dark-orange);
            color: $dark-color-white;
        }
        .btn-list{
            @include btnType1($dark-color-white, $dark-color-blue);
            color: $dark-color-white;
        }
        .btn-modify{
            @include btnType1($dark-color-white, $dark-color-dark-orange);
            color: $dark-color-white;
        }
        .btn-delete{
            @include btnType1($dark-color-white, $dark-color-red);
            color: $dark-color-white;
        }
        
        //목록페이지 컬러
        .list_content ul li{background: $dark-color-gray;}
        //상세페이지 컬러
        .detail_paging_area{border-color: $dark-color-gray;}
        .tag_area li{background: $dark-color-gray;}
    }
    
    .GB_content{
        .textarea{border-color: $dark-color-gray}
        .txt{background-color: $dark-color-light-gray;}
        .btn-submit{
            @include btnType1($dark-color-black, $dark-color-blue);
            color: $dark-color-white;
        }
        .btn-cancel{
            @include btnType1($dark-color-black, $dark-color-gray);
            color: $dark-color-white;
        }
        .btn-delete{
            @include btnType1($dark-color-black, $dark-color-red);
            color: $dark-color-white;
        }
        .btn-modify{
            @include btnType1($dark-color-black, $dark-color-dark-orange);
            color: $dark-color-white;
        }
    }

    @media screen and (max-width: 1200px) {}
    @media screen and (max-width: 960px) {
        .note_content{
            .list_content ul li{
                background: transparent;
                border-bottom: 1px solid $dark-color-gray;
            }
        }
    } 
}

/*어드민 공통*/
.sub-page-main .main-btns button:last-of-type{margin-top: 0;}

/* 노트 공통 */
.note_content{
    @media screen and (max-width: 960px) {
        .btn-delete{
            padding: .7rem 1.2rem !important;
            line-height: 1rem;
            vertical-align: top;
        }
    }
}

/* 방명록 공통 */
.GB_content{

}