@import '../setting/_var.scss';

/* 모드 컬러 */
.lightMode{
    background-color: $light-bg;
    color: $light-font-color;
    .container{
        background-color: $light-sub-bg;
        border: 2px solid $light-border-black;
    }
}

.darkMode{
    background-color: $dark-bg;
    color: $dark-font-color;
    .container{
        background-color: $dark-sub-bg;
        border: 2px solid $dark-border-black;
    }
}

/* 레이아웃 */
//기본 스크롤 커스텀
body{
    @include scrollCustom;
}


.bg{
    min-height: 100vh;
    padding: 5vh 0;
}

.container{
    @include flex;
    width: 80vw;
    max-width: 120rem;
    min-width: 100rem;
    min-height: 90vh;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 1200px) {
        width: 90vw;
        min-width: auto;
    }

    @media screen and (max-width: 960px) {
        @include flexColumn;
    }
    
    @media screen and (max-width: 720px) {
        
    }
}