/* 모드 컬러 */
@media (prefers-color-scheme: dark) {
    header{
        background-color: $dark-header-bg;
        .title{
            span{
                background: $dark-border-black;
            }
            div{
                background: $dark-header-white;
                color: $dark-header-red;
                border: 2px solid $dark-border-black;
            }
            
        }
    }
}
    
@media (prefers-color-scheme: light) {
    header{
        background-color: $light-header-bg;
        .title{
            span{
                background: $light-border-black;
            }
            div{
                background: $light-header-white;
                color: $light-header-red;
                border: 2px solid $light-border-black;
            }
        }
    }
}

header{
    width: 15%;
    padding: 3rem 0;
    position: relative;
    box-sizing: border-box;
    border-radius: .6rem 0 0 .6rem;

    .sticky{
        @include flexColumnTop;
        width: 100%;
        position: sticky;
        top: 2rem;
    }

    .title{
        width: 70%;
        position: relative;
        z-index: 1;
        span{
            display: block;
            width: 100%;
            height: 12rem;
            border-radius: .8rem;
            position: absolute;
            bottom: -.5rem;
            right: -.5rem;
            z-index: -1;
        }
        div{
            @include flexCenter;
            @include fontTitle;
            width: 100%;
            height: 12rem;
            border-radius: .8rem;
            text-align: center;
            font-size: 1.5rem;
            line-height: 1.5;
            padding-top: 4rem;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                background: url($img-url-icons + 'mood-happy.svg') no-repeat center;
                position: absolute;
                top: 2rem;
                left: calc(50% - 1.2rem);
                animation: bounceAni 1.3s ease-in-out infinite;
            }
        }
        
    }

    @media screen and (max-width: 1200px) {
    
    }

    @media screen and (max-width: 960px) {
        width: 100%;
        height: 6rem;
    }
    
    @media screen and (max-width: 720px) {
        
    }
}