/* 모드 컬러 */
.lightMode{
    header{
        background-color: $light-color-dark-orange;
        border-color: $light-color-black;
        .title{
            p{
                background: $light-color-white;
                border: 1px solid $light-color-black;
                color: $light-color-black;
                &::after{
                    border-color: $light-color-white transparent;
                }
                &::before{
                    border-color: $light-color-black transparent;
                }
            }
            div{color: $light-color-black;}
        }
    }
}

.darkMode{
    header{
        background-color: $dark-color-dark-green;
        border-color: $dark-color-white;
        .title{
            p{
                background: $dark-color-white;
                border: 1px solid $dark-color-black;
                color: $light-color-black;
                &::after{
                    border-color: $dark-color-white transparent;
                }
                &::before{
                    border-color: $dark-color-black transparent;
                }
            }
            div{color: $light-color-black;}
        }
    }
}

header{
    width: $header-pc-width;
    padding: 3rem 0;
    position: relative;
    border-width: 0 1px 0 0;
    border-style: solid;
    box-sizing: border-box;

    &.mediaPc{transform: translateY(0) !important;}

    .sticky{
        @include flexColumnTop;
        width: 100%;
        position: sticky;
        top: 2rem;
    }

    .title{
        width: calc(100% - 2rem);
        position: relative;
        text-align: center;
        font-weight: normal;
        z-index: 1;
        word-break: keep-all;
        p{
            width: 100%;
            font-size: 1.1rem;
            line-height: 1.3;
            border-radius: 1.2rem;
            padding: .5rem;
            margin-bottom: 1.4rem;
            animation: bounceAni 1.3s ease-in-out infinite;
            position: relative;
            box-sizing: border-box;
            &::after{
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 8px 8px 0;
                display: block;
                width: 0;
                z-index: 1;
                bottom: -7px;
                left: calc(50% - 7px);
            }
            &::before{
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 8px 8px 0;
                display: block;
                width: 0;
                z-index: 0;
                bottom: -8px;
                left: calc(50% - 7px);
            }
        }
        span{
            display: block;
            margin: 0 auto;
            width: 2.4rem;
            height: 2.4rem;
            background: url($img-url-icons + 'mood-happy.svg') no-repeat center;
        }
        div{
            @include fontTitle;
            font-size: 1.6rem;
            line-height: 1.6;
            font-weight: 800;
            padding-top: .4rem;
        }
        
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 960px) {
    /* 모드 컬러 */
    .lightMode header{
        .sticky{
            background-color: $light-color-dark-orange;
            border-color: $light-color-black;
        }
    }

    .darkMode header{
        .sticky{
            background-color: $dark-color-dark-green;
            border-color: $dark-color-black;
        }
    }

    header{
        width: 100%;
        height: $header-tablet-height;
        padding: 0;
        border-width: 0 0 1px 0;
        .sticky{
            height: calc(100% + 3px);
            flex-direction: row;
            gap: 0 2.4rem;
            padding: 1.2rem 2rem;
            z-index: 1;
            border-bottom: 1px solid;
        }
        .title{
            width: 13.5rem;
            p{
                margin-bottom: 5px;
                &::before{left: 12px;}
                &::after{left: 12px;}
            }
            span{margin: 0 0 0 .9rem;}
            div{display: none;}
        }

        &.mediaNotPc{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(0);
            border-top-width: 2px;
            margin-top: -2px;
            transition: height $ani-fast;
            &.down{
                height: 5.2rem;
                .title p{
                    height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    overflow: hidden;
                    border-width: 0;
                    transition: $ani-fast;
                }
                .main-btns{
                    br{display: none;}
                    button{
                        &:last-of-type{margin-top: 0;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    
}