/* 모드 컬러 */
.lightMode{
    main{
        border-top-color: $light-border-black;
    }
}

.darkMode{
    main{
        border-top-color: $dark-border-black;
    }
}

main{
    width: 85%;
    margin-top: 4rem;
    border-top: 1px solid;
    box-sizing: border-box;
}


@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 960px) {
    main{
        width: 100%;
        height: calc(100% - 6rem);
        margin-top: 0;
        border-width: 0;

        height: 1000px;
    }
}

@media screen and (max-width: 720px) {
    
}
