/* 모드 컬러 */
.lightMode{
    nav{
        ul{
            padding: 2rem 0;
            li{
                a{
                    background: $light-header-white;
                    border-color: $light-border-black;
                    &::after{background: url($img-url-icons + 'arr-right.svg') no-repeat center;}
                }
            }
        }
    }
}

.darkMode{
    nav{
        ul{
            padding: 2rem 0;
            li{
                a{
                    background: $dark-header-white;
                    border-color: $dark-border-black;
                    &::after{background: url($img-url-icons + 'arr-right.svg') no-repeat center;}
                }
            }
        }
    }
}

nav{
    width: calc(100% - 1.6rem);
    ul{
        padding: 2.4rem 0;
        li{
            padding: .5rem 0;
            position: relative;
            a{
                @include fontTitle;
                width: 100%;
                display: block;
                padding: 1rem 3rem 1rem 1rem;
                font-size: 1.4em;
                line-height: 1.4;
                font-weight: 800;
                position: relative;
                right: 1px;
                z-index: 2;
                border-style: solid;
                border-width: 1px 2px 2px 1px;
                &::after{
                    content: '';
                    display: block;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: absolute;
                    top: calc(50% - 1.2rem);
                    right: .5rem;
                }
            }
            &:hover{
                a{
                    right: 0;
                    bottom: -1px;
                    border-width: 2px 1px 1px 2px;
                }
            } 
        }
    }

    @media screen and (max-width: 1200px) {
    
    }

    @media screen and (max-width: 960px) {
        width: calc(100% + 4rem);
        position: absolute;
        bottom: 0;
        left: -2rem;
        background: $light-bg-orange;
        padding: 0 2rem;
        z-index: 1;
    }
    
    @media screen and (max-width: 720px) {
        
    }
}