@charset "UTF-8";
.lightMode svg.moon {
  display: none;
}

.darkMode svg.sun {
  display: none;
}

button.open {
  border-width: 2px 1px 1px 2px !important;
}
button.open .close {
  display: none;
}
button.close .open {
  display: none;
}

/*** 컬러 변수 ***/
:root {
  --scroll-thumb: #F3B562;
  --scroll-bg: #A7C4B5;
  --light-color-black: #222;
  --light-color-gray: #BBB;
  --light-color-light-gray: #EEE;
  --light-color-white: #fff;
  --light-color-dark-green: #A7C4B5;
  --light-color-light-green: #D6EADF;
  --light-color-light-orange: #F6D8AE;
  --light-color-dark-orange: #F3B562;
  --light-color-purple: #7D3C98;
  --light-color-blue: #2471A3;
  --light-color-red: #EC7063;
  --light-color-yellow: #F4D03F;
  --dark-color-black: #121212;
  --dark-color-gray: #636363;
  --dark-color-light-gray: #CCC;
  --dark-color-white: #fff;
  --dark-color-dark-green: #76AD91;
  --dark-color-light-green: #AFDBC3;
  --dark-color-light-orange: #EDC389;
  --dark-color-dark-orange: #E39F43;
  --dark-color-purple: #79259C;
  --dark-color-blue: #1B6493;
  --dark-color-red: #BD3D30;
  --dark-color-yellow: #EED368;
  /*** 공통변수 ***/
  --ani-fast: .23s ease-in;
  --ani-middle: .4s ease-in;
  --ani-slow: .7s ease-in;
}

/*** 공통변수 ***/
/* ani */
@keyframes bounceAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
/* button type */
/* 모드 컬러 */
.lightMode .user_box.pic div {
  background: #2471A3;
  border-color: #222;
}
.lightMode .user_box.pic div::before {
  background-color: #D6EADF;
}
.lightMode .user_box.login > div {
  background: #7D3C98;
  border-color: #222;
}
.lightMode .aboutme_box {
  border-color: #222;
}
.lightMode .aboutme_box dl dt {
  color: #fff;
}
.lightMode .aboutme_box dl dd {
  color: #fff;
}
.lightMode .skill_box {
  background: #7D3C98;
}
.lightMode .skills_slide .swiper-slide-active::after {
  border-top-color: #7D3C98;
}
.lightMode .bgHover:hover {
  background-color: #F6D8AE;
}
.lightMode .works_box .btn-type1 {
  padding: 0.2rem;
  background: #fff;
  border: 1px solid #222;
  border-bottom-width: 2px;
  border-right-width: 2px;
  box-sizing: border-box;
}
.lightMode .works_box .btn-type1 svg.hide {
  display: none;
}
.lightMode .works_box .btn-type1 * {
  fill: #222;
}
.lightMode .works_box dl:hover dt {
  background-color: #EEE;
}
.lightMode .works_box dl.active {
  border-bottom-color: #222;
}
.lightMode .works_box dl.active dt {
  background-color: #2471A3;
  color: #fff;
}
.lightMode .works_box dl dt {
  background-color: #fff;
}
.lightMode .works_box .works_tit {
  border-color: #222;
}
.lightMode .works_box .works_desc {
  border-color: #222;
}

.darkMode .user_box.pic div {
  background: #1B6493;
  border-color: #fff;
}
.darkMode .user_box.pic div::before {
  background-color: #AFDBC3;
}
.darkMode .user_box.login > div {
  background: #79259C;
  border-color: #fff;
}
.darkMode .aboutme_box {
  border-color: #121212;
}
.darkMode .aboutme_box dl dt {
  color: #fff;
}
.darkMode .aboutme_box dl dd {
  color: #fff;
}
.darkMode .skill_box {
  background: #79259C;
}
.darkMode .skills_slide .swiper-slide-active::after {
  border-top-color: #79259C;
}
.darkMode .bgHover:hover {
  background-color: #636363;
}
.darkMode .works_box .btn-type1 {
  padding: 0.2rem;
  background: #121212;
  border: 1px solid #fff;
  border-bottom-width: 2px;
  border-right-width: 2px;
  box-sizing: border-box;
}
.darkMode .works_box .btn-type1 svg.hide {
  display: none;
}
.darkMode .works_box .btn-type1 * {
  fill: #fff;
}
.darkMode .works_box dl:hover dt {
  background-color: #CCC;
}
.darkMode .works_box dl.active {
  border-bottom-color: #121212;
}
.darkMode .works_box .works_tit {
  border-color: #fff;
}
.darkMode .works_box .works_desc {
  border-color: #fff;
}

.user_box.pic div::before {
  content: "";
  display: block;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: calc(50% - 8rem);
  transform-origin: center;
  animation: beat 0.4s ease-in infinite alternate;
}
@keyframes beat {
  to {
    transform: scale(1.05);
  }
}
.user_box.pic div::after {
  content: "";
  display: block;
  width: 16rem;
  height: 16rem;
  background: url("../images/bg/intro_user_pc.png") no-repeat center/cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.skills_slide {
  width: 100%;
  height: 8.9rem;
}
.skills_slide .swiper-wrapper {
  align-items: flex-end;
}
.skills_slide .swiper-slide {
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
}
.skills_slide .swiper-slide-active {
  position: relative;
}
.skills_slide .swiper-slide-active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
.skills_slide .swiper-slide-active div div {
  height: 4rem;
  margin-bottom: 0.8rem;
}

.works_box .works_desc div::-webkit-scrollbar {
  width: 7px;
  background: #BBB;
}
.works_box .works_desc div::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #BBB;
  border: solid #222;
  border-width: 0 0 0 1px;
}
.works_box .works_desc div::-webkit-scrollbar-track {
  background: #fff;
  border: solid #222;
  border-width: 0 0 0 1px;
}

@media screen and (max-width: 960px) {
  .user_box.pic div::after {
    width: 13rem;
    height: 13rem;
    background-image: url("../images/bg/intro_user_m.png");
  }
}
@media screen and (max-width: 720px) {
  .skills_slide {
    width: 100%;
    height: 7.4rem;
  }
  .skills_slide .swiper-slide-active::after {
    border: 12px solid transparent;
    margin-left: -12px;
    margin-bottom: -19px;
  }
  .skills_slide .swiper-slide-active div div {
    height: 2.4rem;
  }
}