/*** 컬러 변수 ***/
//라이트 모드
$light-bg: #D6EADF;
$light-sub-bg: #fff;
$light-font-color: #222;

//다크 모드
$dark-bg: #292929;
$dark-sub-bg: #121212;
$dark-font-color: #fff;

/*** 공통변수 ***/
$ani-fast : .23s ease-in;
$ani-middle : .4s ease-in;
$ani-slow : .7s ease-in;

/* 기본 스크롤 커스텀 */