@import '../setting/_var.scss';

/* 모드 컬러 */
.lightMode{
    input, textarea{
        background-color: $light-color-white;
        border-color: $light-color-black;
        color: $light-color-black;
        &::placeholder{color: $light-color-gray;}
    }

    .btn_save{
        background-color: $light-color-blue;
        color: $light-color-white;
        border-color: $light-color-black;
    }
    .btn_delete{
        background-color: $light-color-red;
        color: $light-color-white;
        border-color: $light-color-black;
    }
    .btn_cancel{
        background-color: $light-color-light-gray;
        color: $light-color-black;
        border-color: $light-color-black;
    }
}

.darkMode{
    input, textarea{
        background-color: $dark-color-black;
        border-color: $dark-color-white;
        color: $dark-color-white;
        &::placeholder{color: $dark-color-gray;}
    }

    .btn_save{
        background-color: $dark-color-blue;
        color: $dark-color-white;
        border-color: $dark-color-white;
    }
    .btn_delete{
        background-color: $dark-color-red;
        color: $dark-color-white;
        border-color: $dark-color-white;
    }
    .btn_cancel{
        background-color: $dark-color-light-gray;
        color: $dark-color-black;
        border-color: $dark-color-white;
    }
}

input{
	display: block;
	width: 100%;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
    font: inherit;
    outline: none;
    box-sizing: border-box;
}
textarea{
	display: block;
	width: 100%;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	resize: none;
    font: inherit;
    outline: none;
    box-sizing: border-box;
}

input[type=checkbox]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	&+label{
        display: block;
		font-size: 1.4rem;
		line-height: 2.4rem;
		padding-left: 2.8rem;
        cursor: pointer;
		background: url($img-url-icons + 'icon-radio-off.svg') no-repeat center left / 2.4rem auto;
	}
	&:checked+label{
        background-image: url($img-url-icons + 'icon-radio-on.svg');
	}
}